<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Crear Cuenta</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

     <ion-label class="texttitle" ><strong>Complete los Campos</strong> </ion-label> 

 
     <ion-item >
      <ion-label position="floating" >Nombre y Apellidos</ion-label>
      <ion-input type="text" ></ion-input>

    </ion-item>

    <ion-item >
      <ion-label position="floating" >Correo Electrónico</ion-label>
      <ion-input type="email" required="correo" ></ion-input>
    </ion-item>

  
    <ion-item>
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Confirmar Clave</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    
      <ion-button type="submit" class="btnregistro" expand="block">Registrar</ion-button>
     
      
   

    </ion-card-content>
    