<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Datos del Colaborador</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrocolaborador" (ngSubmit)="guardarColaborador()">
  <ion-card>
    <ion-card-content>

     <ion-label class="texttitle" ><strong>Complete los Campos</strong> </ion-label> 

 
     <ion-item >
      <ion-label position="floating" >Nombres y Apellidos</ion-label>
      <ion-input type="text" formControlName="nombre_apellido"></ion-input>

    </ion-item>

    <ion-item >
      <ion-label position="floating" >Correo Electrónico</ion-label>
      <ion-input type="email"  formControlName="correo"></ion-input>
    </ion-item>
    
    <ion-item >
      <ion-label position="floating" >Cedula de Identidad</ion-label>
      <ion-input type="text" formControlName="ci"></ion-input>

    </ion-item>

    <ion-item >
      <ion-label position="floating" >Nro de Telefono</ion-label>
      <ion-input type="text" formControlName="telefono" ></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select formControlName="genero">
        <ion-select-option value="Femenino">Femenino</ion-select-option>
        <ion-select-option value="Masculino">Masculino</ion-select-option>
      </ion-select>
    </ion-item>
    

   
    <ion-item>
      <ion-label>Sector</ion-label>
      <ion-select formControlName="sector">
        <ion-select-option value="Desarrollo">Desarrollo</ion-select-option>
        <ion-select-option value="Administracion">Administración</ion-select-option>
        <ion-select-option value="Soporte">Soporte</ion-select-option>
        <ion-select-option value="Ventas">Ventas</ion-select-option>
      </ion-select>
    </ion-item>
  
  
    
      <ion-button type="submit" class="btnregistro" expand="block" [disabled]="!registrocolaborador.valid" >Registrar</ion-button>
     
      
   

    </ion-card-content>
  </ion-card>
</form>
</ion-content>  
    
    