<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
      <ion-title class="ion-text-center"> RECONOCIMIENTO </ion-title>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content>
  <form [formGroup]="registroreconomiento" (ngSubmit)="guardarReconocimiento()">
    <ion-list class="prueba">

      <ion-item>
        <ion-label position="floating">Colaborador</ion-label>
        <ion-select formControlName="colaborador">
          <ion-select-option *ngFor="let colaborador of colaboradores" [value]="colaborador.col_codigo">
            {{colaborador.col_nombre_apellido}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Valores</ion-label>
        <ion-select formControlName="valor">
          <ion-select-option *ngFor="let valor of valores" [value]="valor.val_codigo">{{valor.val_nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Mensaje:</ion-label>
        <ion-input type="text" placeholder="¿Por qué?" formControlName="mensaje"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="full" color="light">ENVIAR
        RECONOCIMIENTO <ion-icon slot="end" name="star-outline"></ion-icon>
      </ion-button>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>

  
  </ion-toolbar>
</ion-footer>