<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    <ion-title class="ion-text-center">  RECONOCIMIENTO  </ion-title>
    </ion-buttons>
  </ion-toolbar> 

</ion-header>

<ion-content>
  <h1>

  </h1>
  <h1>
    
  </h1>
  <ion-list>
    
    <ion-list-header>
      <ion-label></ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Colaborador:</ion-label>
      <ion-input type="text" placeholder="¿A quién?" [(ngModel)]="colaborador"></ion-input>
    </ion-item>

    <h1>
    
    </h1>
    <h1>
    
    </h1>
    <ion-item>
      <ion-label>Valores:</ion-label>
      <ion-input type="text" placeholder="¿Cuál?" [(ngModel)]="valores"></ion-input>
    </ion-item>

    <h1>
    
    </h1>
    <h1>
    
    </h1>
    <ion-item>
      <ion-label>Mensaje:</ion-label>
      <ion-input type="text" placeholder="¿Por qué?" [(ngModel)]="mensaje"></ion-input>
    </ion-item>
  </ion-list>

  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="light">ENVIAR RECONOCIMIENTO  <ion-icon slot="end" name="star-outline"></ion-icon></ion-button>

  </ion-toolbar>
</ion-footer>
