<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="inicio"></ion-back-button>
      <ion-title>VALORES</ion-title>
    </ion-buttons>
  </ion-toolbar> 

</ion-header>
<app-header titulo="Fab"></app-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Disciplina</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Responsabilidad</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Presentación Personal</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Liderazgo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Comunicación</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Conocimiento</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Compromiso</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Productividad</ion-label>
    </ion-item>
    
    
  </ion-list>
  

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
    <ion-fab-button  color="danger">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button color="secundary"><ion-icon name="trash"></ion-icon></ion-fab-button>
      <ion-fab-button color="secundary"><ion-icon name="search"></ion-icon></ion-fab-button>
    </ion-fab-list>


    <ion-fab-list side="start">
      <ion-fab-button color="secundary"><ion-icon name="create-outline"></ion-icon></ion-fab-button>
      
      <ion-fab-button color="secundary"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
     
    </ion-fab-list>


  </ion-fab>



  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>Item {{ i + 1 }}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>


<ion-footer>
  <ion-toolbar>
  
  </ion-toolbar>
</ion-footer>