<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Registro del Valor</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registrovalor" (ngSubmit)="guardarValor()">
  <ion-card>
    <ion-card-content>

     <ion-label class="texttitle" ><strong>Complete los Campos</strong> </ion-label> 

 
     <ion-item >
      <ion-label position="floating" >Nombres del Valor</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
  
    </ion-item>
    <ion-item >
      <ion-label position="floating" >Descripcion</ion-label>
      <ion-input type="text" formControlName="descripcion"></ion-input>
  
    </ion-item>
  
    
      <ion-button type="submit" class="btnregistro" expand="block" [disabled]="!registrovalor.valid" >Registrar</ion-button>
     
      
   

    </ion-card-content>
  </ion-card>
</form>
</ion-content>  
    
    