<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><strong>Reestablecer Contraseña</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

     <ion-label class="texttitle" ><strong>Introduzca su correo electrónico para reestablecer la contraseña</strong> </ion-label> 


    <ion-item >
      <ion-label position="floating" class="correo">Correo Electrónico</ion-label>
      <ion-input type="email" required="correo" ></ion-input>

    </ion-item>
  
      <ion-button type="submit" class="btnrecuperar" expand="block">Enviar</ion-button>
     
      
   

    </ion-card-content>
    