<ion-header>

  <ion-toolbar>
    
    <ion-title class="ion-text-center"> RECONOCIMIENTOS  <ion-icon name="trophy"></ion-icon> </ion-title>
  </ion-toolbar>

</ion-header>

<ion-toolbar>
  <ion-searchbar placeholder="Buscar Reconocimiento por Nombre"
                 animated
                 debounce="700"
                 [value]="textoBuscar"
                 (ionChange)="buscar( $event )"></ion-searchbar>
</ion-toolbar>


<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/reconocimiento/0']"
    ><ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

  <ion-card>
    
    <ion-item-sliding *ngFor="let reconocimiento of reco">
    <ion-item [routerLink]="'/reconocimiento/'+reconocimiento.re_codigo">
      <ion-icon slot="start" name="star" color="danger"></ion-icon>
      <ion-card-header>
        <ion-card-title>Nº {{this.reconocimiento.re_codigo }} - {{this.reconocimiento.nombre }} </ion-card-title> 
        <ion-label>Valor: {{this.reconocimiento.valor }}</ion-label>
        <ion-card-subtitle>{{this.reconocimiento.re_mensaje }}</ion-card-subtitle> 
        <!-- deseo traer el valor aqui -->
        
      </ion-card-header>
    </ion-item>

  </ion-item-sliding>
 
  </ion-card>

  <ion-card>
  
  </ion-card>
  
</ion-content>
  <!--  <ion-list>

    <ion-item-sliding *ngFor="let reconocimiento of reco">

      <ion-item [routerLink]="'/reconocimiento/'+reconocimiento.re_codigo">
        <ion-label>
          {{this.reconocimiento.re_codigo  + ' - ' +this.reconocimiento.re_mensaje}}
        </ion-label>
      </ion-item>
    </ion-item-sliding>

  </ion-list>
-->



<ion-footer>
  <ion-toolbar>
    <img src="https://static.vecteezy.com/system/resources/previews/005/091/607/non_2x/group-of-business-people-characters-with-leader-vector.jpg">
  </ion-toolbar>
</ion-footer>